<!DOCTYPE html>
<html>
<head>
	<title>ToDoApp-Angular</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body class="bg">
	<div class="app" ng-app='ToDoApp' ng-controller='ToDoController'>
		<a class="btn" style="position: fixed; right: 10px; top: 10px; width: 50px;" ng-click='toggleBg()'>BG</a>
		<form ng-submit='addToDoItem()'>
			<input type="text" ng-model='toDoItem' autofocus="true" placeholder="Write Here..." maxlength="42">
		</form>
		<ul>
			<li ng-repeat='toDo in toDoList | filter : {"value" : "", "status" : f} track by $index' ng-class='{success : toDo.status == true}'><div ng-click='complete(toDoList.indexOf(toDo))' class="check"><span ng-class="{checkMark : toDo.status == false}">&#10004;</span></div><span>{{toDo.value}}</span><span class="closeBtn" ng-click='remove(toDoList.indexOf(toDo))'>&#10062;</span></li>
		</ul>
		<div class="menu">
			<a class="btn" ng-class='{activeBtn : f == ""}' href="javascript:void(0)" ng-click='toggleFilter("")'>All</a>
			<a class="btn" ng-class='{activeBtn : f == "false"}' href="javascript:void(0)" ng-click='toggleFilter("false")'>Active</a>
			<a class="btn" ng-class='{activeBtn : f == "true"}' href="javascript:void(0)" ng-click='toggleFilter("true")'>Completed</a>
		</div>
	</div>
	<script type="text/javascript" src="app/main.js"></script>
</body>
</html>
